*.pdf filter=lfs diff=lfs merge=lfs -text
knowledge_base/*.csv filter=lfs diff=lfs merge=lfs -text
knowledge_base/*.md filter=lfs diff=lfs merge=lfs -text
knowledge_base/*.txt filter=lfs diff=lfs merge=lfs -text
